@model LeaveSystem.Presentation.Models.ManageLeaveViewModels.UpdateLeaveViewModel

@{
    ViewData["Title"] = "Update Leave";
}


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h4>Update Leave</h4>
        <hr />
        @Html.Partial("_StatusMessage", ViewData["results"]);
        <form asp-action="EditLeave">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="StatusId" />
            <input type="hidden" asp-for="EmployeeId" />
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromDate" class="control-label"></label>
                <input asp-for="FromDate" class="form-control" />
                <span asp-validation-for="FromDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDate" class="control-label"></label>
                <input asp-for="ToDate" class="form-control" />
                <span asp-validation-for="ToDate" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <input asp-for="StatusId" class="form-control" />
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>


        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

